:root {
    --max-width: 1056px;
}

@keyframes toBlur {
    1% {
        backdrop-filter: blur(15px);
    }

    100% {
        backdrop-filter: blur(15px);
    }
}

.top-section {
    padding-top: 100px;
    background: url(images/bg-dark.svg) black;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    max-width: 100%;
    -webkit-mask-image: linear-gradient(black 80%, transparent 100%);
    mask-image: linear-gradient(black 80%, transparent 100%);
    z-index: 10;
}

body>* {
    max-width: var(--max-width);
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    z-index: 50;
    animation-name: toBlur;
    animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll(root);
    max-width: 100%;
    width: 100%;
}

nav>div {
    display: flex;
    align-items: center;
    max-width: var(--max-width);
    column-gap: 32px;
    padding: 16px 24px;
    color: #fff;
    margin: auto;
}

.nav-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-logo svg {
    height: 24px;
    width: fit-content;
    margin-top: 5px;
    margin-left: 5px;
}

.hero {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.hero-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: auto;
}

.bg-white-blur svg {
    margin-right: 5px;
}

.hero-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 42px;
    width: 360px;
    margin: auto;
    border: 1px solid var(--color-border-soft);
}

.hero-cta * {
    font-size: 16px;
    height: 100%;
}

.hero-img {
    border-radius: 24px;
    border: 1px solid var(--color-border-soft);
    overflow: hidden;
    margin-top: 96px;
}

.dark-dash {
    width: fit-content;
    margin: auto;
}

.partners {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 72px 32px 144px 32px;
    width: 100%;
}

.partners .logowrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.partners svg {
    height: 70px;
}

.ai-section {
    padding: 36px;
    text-align: center;
}

.big-card {
    background: url(images/anthropic.svg);
    height: 518px;
    padding: 64px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    overflow: hidden;
    inset: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.big-card:hover {
    opacity: 0.8;
}

.big-card:hover #gtsign {
    transition: all 0.2s ease-in-out;
    margin-left: 3px;
}

#customer_story_company>div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    height: 60px;
    padding: 20px;
}

#customer_story_company svg {
    height: 64px;
}

label:has(input:checked) {
    filter: grayscale(0%);
    opacity: 1;
}

label:has(input:not(:checked)) {
    filter: grayscale(100%);
    opacity: 0.5;
}

label {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

label>input {
    display: none;
}

.carousal-card {
    width: 400px;
    overflow: hidden;
}

.carousal-card:hover {
    cursor: pointer;
}

.carousal-card .img-wrapper {
    border-radius: 16px;
    overflow: hidden;
    height: 290px;
    width: 100%;
    position: relative;
}

.carousal-card:hover .img-wrapper {
    transition: all 0.2s ease-in-out;
    opacity: 0.8;
}

.carousal-card .img-wrapper img {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.carousal-card .img-wrapper svg {
    width: 230px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text-invert);
}

.read_story {
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: var(--color-brand);
}

.read_story:hover {
    color: var(--color-brand);
}

.read_story:hover svg {
    transition: all 0.2s ease-in-out;
    color: var(--color-brand);
    margin-left: 3px;
}

.carousal-card:hover .read_story,
.read_story:hover svg {
    cursor: pointer;
    color: var(--color-brand);
}

.carousal-card>p.gray {
    overflow: hidden;
    height: 70px;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

.carousal-card:hover .read_story span:first-child {
    transition: all 0.2s ease-in-out;
    margin-right: 3px;
}

#gtsign {
    transform: rotate(-90deg);
}

#carousal-cards-container {
    scrollbar-width: none;
    display: flex;
    gap: 24px;
    width: 99vw;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0 calc((105vw - var(--max-width))/2);
    overflow-x: scroll;
}

#carousal-cards-container .carousal-card {
    flex: 0 0 auto;
}

#carousal-cards-container::-webkit-scrollbar {
    display: none;
}

.carousal-btn {
    filter: invert(100%);
}

.last-cta-btn {
    border-right: 1px solid var(--color-border-surface);
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 32px;
    width: 430px;
}

.last-cta-btn:last-child {
    border-right: none;
}

.last-cta-btn div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.last-cta-btn h3 {
    font-size: 20px;
    font-weight: 500;
}

.last-cta-btn p {
    font-size: 16px;
    font-weight: 400;
}

.last-cta-btn .read_story {
    font-size: 14px;
}

footer {
    border-top: 0.2px solid var(--color-background-main);
    max-width: 100%;
    width: 100%;
    background-color: var(--color-background-soft);
}

footer>div {
    border-top: 1px solid var(--color-border-surface);
}

footer>div>div {
    border: 1px solid var(--color-border-surface);
    border-top: none;
    max-width: var(--max-width);
    width: 100%;
    margin: auto;
}

footer .links {
    padding: 48px 32px 72px 32px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

footer .links h3 {
    padding: 6px 12px;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 0.64;
    color: var(--color-muted);
    font-weight: 500;
    font-size: 13px;
}

footer .links ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .links li {
    list-style: none;
}

footer .links a {
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
}

#theme_switcher {
    background-color: var(--color-background-soft);
    display: flex;
    gap: 5x;
    padding: 2px;
    border-radius: 12px;
}

#theme_switcher label {
    width: 24px;
    height: 24px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100%;
}

#theme_switcher label:has(input:checked) {
    background-color: var(--color-background-main);
}