:root {
    --black: #000000;
    --white: #ffffff;
    --white-btn-hover-bg: oklab(0.999998 -0.00000980496 0.0000234246 / 0.85);
    --transparent-btn-bg: oklab(100 0 0 / 0.05);
    --p4: 4px 12px;
    --p4-5: 4.5px 12px;
    --p4all: 4px;
    --p2-8: 2px 8px;
    --rounded-full: 100px;

    --color-background-main: lab(2.42579% -.165291 -.470081);
    --color-background-invert: lab(100% 0 0);
    --color-text-main: lab(100% 0 0);
    --color-text-invert: lab(2.42579% -.165291 -.470081);
    --color-text-soft: lab(100% 0 0/.7);
    --color-text-sub: lab(100% 0 0/.6);
    --color-border-sub: lab(100% 0 0/.07);
    --color-background-soft: lab(100% 0 0/.05);
    --color-border-surface: lab(100% 0 0/.05);
    --color-muted: lab(100% 0 0/.5);
    --color-border-soft: lab(100% 0 0/.15);
    --color-brand: lab(79.9844% -59.6292 22.5096);
    --color-brand-light: lab(51.3415% -41.5657 15.3527);
    --color-border-solid: lab(100% 0 0);
    --color-muted-invert: lab(2.42579% -.165291 -.470081/.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--color-background-main);
    color: var(--color-text-main);
}

.white-btn {
    background-color: var(--color-background-invert);
    color: var(--color-text-invert);
    padding: var(--p4-5);
    border-radius: var(--rounded-full);
    border: none;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.white-btn:hover {
    background-color: var(--white-btn-hover-bg);
}

.transparent-btn {
    border: none;
    cursor: pointer;
    padding: var(--p4-5);
    font-weight: 500;
    border-radius: var(--rounded-full);
    background-color: var(--color-background-soft);
    color: var(--color-text-main);
    text-decoration: none;
}

.transparent-btn:hover {
    background-color: var(--color-background-soft);
}

a {
    text-decoration: none;
    padding: var(--p4);
    color: var(--color-text-main);
    font-weight: 500;
    border-radius: var(--rounded-full);
}

a:hover {
    background-color: var(--color-background-soft);
}

.bg-white-blur {
    backdrop-filter: blur(12px);
    background-color: var(--color-background-soft);
    padding: var(--p4all);
    border-radius: var(--rounded-full);
}

.bg-white-blur:hover {
    background-color: var(--color-border-sub);
}

.color-brand {
    color: var(--color-brand);
}

.color-brand-hover {
    color: var(--color-brand-light);
}

.text-brand-geist,
.text-white-geist {
    color: var(--color-brand);
    font-family: 'Geist', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 18px;
}

.text-white-geist {
    color: var(--color-white);
}

.bg-brand {
    background-color: var(--color-brand);
}

.bg-brand:hover {
    background-color: var(--color-brand-light);
}

.bg-brand-light {
    background-color: var(--color-brand-light);
}

.text-white {
    color: var(--color-white);
}

h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

p.gray {
    color: var(--color-text-soft);
    line-height: 27px;
}

p.expanded {
    font-size: 18px;
    line-height: 27px;
}

.tag {
    background-color: var(--color-brand-light);
    color: var(--color-white);
    padding: var(--p2-8);
    border-radius: var(--rounded-full);
    font-weight: 500;
    border: none;
    text-decoration: none;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--color-text-main);
    padding-left: 10px;
    padding-right: 10px;
}

input::placeholder {
    color: var(--color-text-soft);
}

.border-soft {
    border: 1px solid var(--color-border-soft);
}

.p-6 {
    padding: 24px;
}

.rounded-full {
    border-radius: var(--rounded-full);
}

.rounded-6 {
    border-radius: 24px;
}

.w-1\/2 {
    width: 50%;
}

.flex-gap-6 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.flex-gap-6-row {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 24px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.gap-12 {
    gap: 48px;
}

.grayscale {
    filter: grayscale(100%);
}